<a href="https://colab.research.google.com/github/ChaitaliV/Location-Extractor/blob/main/Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/ChaitaliV/Location-Extractor

Cloning into 'Location-Extractor'...
remote: Enumerating objects: 459, done.
remote: Counting objects: 100% (96/96), done.
remote: Compressing objects: 100% (96/96), done.
remote: Total 459 (delta 53), reused 0 (delta 0), pack-reused 363
Receiving objects: 100% (459/459), 13.17 MiB | 18.17 MiB/s, done.
Resolving deltas: 100% (265/265), done.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Location-Extractor/Data/places_data.csv')
df.head()

,Unnamed: 0.4,text,name,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,index
0,0,"Panchvati Fabric Store,\nShivam Garments,\nShr...","['Panchvati Fabric Store', 'Shivam Garments', ...",NaN,NaN,NaN,NaN,NaN
1,1,Vesu is a trendy and upscale area in Surat tha...,"['Aura Designer Boutique', 'En Vogue']",NaN,NaN,NaN,NaN,NaN
2,2,"For those looking for Western-style clothing, ...","['Blush', 'Zohra Fashion', 'Aanchal Boutique',...",NaN,NaN,NaN,NaN,NaN
3,3,Ghod Dod Road is a bustling shopping destinati...,"['Ghod Dod Road', 'Kalki Fashion', 'Saree Pala...",NaN,NaN,NaN,NaN,NaN
4,4,For those looking for contemporary Western wea...,"['The Dressing Room', 'Seasons', 'Jinal Fashio...",NaN,NaN,NaN,NaN,NaN

In [ ]:
para_text = df['text'][:]

In [ ]:
places_list = df['name'][:]

In [ ]:
places_list

0       ['Panchvati Fabric Store', 'Shivam Garments', ...
1                  ['Aura Designer Boutique', 'En Vogue']
2       ['Blush', 'Zohra Fashion', 'Aanchal Boutique',...
3       ['Ghod Dod Road', 'Kalki Fashion', 'Saree Pala...
4       ['The Dressing Room', 'Seasons', 'Jinal Fashio...
                              ...
1877    ['Le Chapon Fin', 'Garopapilles', 'La Tupina',...
1878    ["L'Ambroisie", 'Septime', 'Chez Paul', 'Ladur...
1879     ['Chez Hugon', 'Paul Bocuse', 'Fromagerie Mons']
1880    ['Le Jules Verne', "Chez L'Ami Jean", 'Guy Sav...
1881    ['Paul Bocuse', "L'Auberge du Pont de Collonge...
Name: name, Length: 1882, dtype: object

In [ ]:
import ast

all_places = []
for place in places_list:
  all_places.append(ast.literal_eval(place))

In [ ]:
len(places_list)

1882

In [ ]:
new_df = pd.DataFrame(columns=['Line', 'Place'])
Lines = []
Places = []

In [ ]:
for i in range (0,len(df)):
    text = para_text[i]
    places = all_places[i]
    lines = text.split('. ')
    for line in lines:
        for place in places:
            if place in line:
              Lines.append(line)
              Places.append(place)
            else:
              Lines.append(line)
              Places.append(None)

In [ ]:
import spacy

nlp = spacy.load('en_core_web_sm')

def get_note(sentence, place_name):

  # Apply spaCy's dependency parsing and POS tagging on the sentence
  doc = nlp(sentence)

  # Initialize a list to store relevant phrases
  phrases = []

  # Iterate over the verbs and verb phrases in the sentence
  for token in doc:
      if token.pos_ == 'VERB':
          verb_phrase = [t.text for t in token.subtree]
          phrases.append(" ".join(verb_phrase))

  # # Print the extracted phrases
  # for phrase in phrases:
  #     print(phrase)
  # Initialize a list to store the extracted notes
  notes = []

  # Iterate over the sentences
  for sentence in phrases:
      if place_name.lower() not in sentence.lower():
          notes.append(sentence)

  # Print the extracted notes
  return notes[0]

In [ ]:
sentence = "You can visit the Chocolate room and have some of the best desserts there"
place_name = 'the Chocolate room'

In [ ]:
get_note(sentence,place_name)

'have some of the best desserts there'

In [ ]:
sentences = [
    "Visit the Eiffel Tower in Paris and admire panoramic views of the city from its observation decks.",
    "Explore the Grand Canyon in Arizona and hike along its breathtaking trails to witness stunning natural beauty.",
    "Head to Times Square in New York City and immerse yourself in the vibrant atmosphere, surrounded by dazzling billboards and bustling crowds.",
    "Enjoy a safari adventure in the Maasai Mara National Reserve in Kenya, where you can spot wildlife such as lions, elephants, and giraffes.",
    "Discover the ancient ruins of Machu Picchu in Peru and marvel at the impressive Inca architecture nestled amidst the mountainous landscape.",
    "Relax on the beaches of Bali and indulge in water sports like surfing, snorkeling, and diving.",
    "Take a trip to the Taj Mahal in Agra, India, and witness the iconic monument of love while exploring its beautiful gardens.",
    "Visit the Louvre Museum in Paris to see world-renowned artworks like the Mona Lisa and Venus de Milo.",
    "Explore the Great Barrier Reef in Australia and experience snorkeling or diving to witness the stunning marine life and colorful coral reefs.",
    "Wander through the streets of Tokyo, Japan, and indulge in delicious street food, visit traditional temples, and explore vibrant neighborhoods like Shibuya and Akihabara.",
    
]

In [ ]:
places = ["Eiffel Tower","Grand Canyon","Times Square","Maasai Mara National Reserve","Machu Picchu","Bali","Taj Mahal","Louvre Museum","Great Barrier Reef","Tokyo"]

In [ ]:
from spacy.util import get_async
all_notes = []
for i in range (0,len(sentences)):
  all_notes.append(get_note(sentences[i],places[i]))

In [ ]:
all_notes

['admire panoramic views of the city from its observation decks',
 'breathtaking',
 'immerse yourself in the vibrant atmosphere , surrounded by dazzling billboards and bustling crowds',
 'where you can spot wildlife such as lions , elephants , and giraffes',
 'marvel at the impressive Inca architecture nestled amidst the mountainous landscape',
 'indulge in water sports like surfing , snorkeling , and diving',
 'witness the iconic monument of love while exploring its beautiful gardens',
 'to see world - renowned artworks like the Mona Lisa and Venus de Milo',
 'to witness the stunning marine life and colorful coral reefs',
 'indulge in delicious street food , visit traditional temples , and explore vibrant neighborhoods like Shibuya and Akihabara']

In [ ]:
df = pd.DataFrame({'Text':sentences, "Note": all_notes})

In [ ]:
df

,Text,Note
0,Visit the Eiffel Tower in Paris and admire pan...,admire panoramic views of the city from its ob...
1,Explore the Grand Canyon in Arizona and hike a...,breathtaking
2,Head to Times Square in New York City and imme...,"immerse yourself in the vibrant atmosphere , s..."
3,Enjoy a safari adventure in the Maasai Mara Na...,"where you can spot wildlife such as lions , el..."
4,Discover the ancient ruins of Machu Picchu in ...,marvel at the impressive Inca architecture nes...
5,Relax on the beaches of Bali and indulge in wa...,"indulge in water sports like surfing , snorkel..."
6,"Take a trip to the Taj Mahal in Agra, India, a...",witness the iconic monument of love while expl...
7,Visit the Louvre Museum in Paris to see world-...,to see world - renowned artworks like the Mona...
8,Explore the Great Barrier Reef in Australia an...,to witness the stunning marine life and colorf...
9,"Wander through the streets of Tokyo, Japan, an...","indulge in delicious street food , visit tradi..."

In [ ]:
df.to_csv('testing of notes model.csv')