<a href="https://colab.research.google.com/github/ChaitaliV/Location-Extractor/blob/main/tag_from_name.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/ChaitaliV/Location-Extractor

Cloning into 'Location-Extractor'...
remote: Enumerating objects: 354, done.
remote: Counting objects: 100% (225/225), done.
remote: Compressing objects: 100% (165/165), done.
remote: Total 354 (delta 125), reused 108 (delta 59), pack-reused 129
Receiving objects: 100% (354/354), 595.90 KiB | 6.27 MiB/s, done.
Resolving deltas: 100% (198/198), done.

In [59]:
import pandas as pd
import random
import requests

## Tag from name

In [3]:
df = pd.read_csv('Location-Extractor/Data/tag_name_list.csv')

In [67]:
df

     Unnamed: 0        Tags       Category
0             0    Monestry    site-seeing
1             1      Cruise  entertainment
2             2      Museum    site-seeing
3             3       Craft       shopping
4             4        Mall       shopping
..          ...         ...            ...
536         536   Nightclub    clubs & bar
537         537  Shoe Store       shopping
538         538       Field    site-seeing
539         539    Festival  entertainment
540         540   Cathedral    site-seeing

[541 rows x 3 columns]

In [4]:
possible_tags = list(df['Tags'][:])

In [44]:
possible_tags = list(set(possible_tags)) + ['Palace','Chicken','Masjid']

In [45]:
import inflect

def find_tags(word_list, input_text):
    matching_words = set()  # Use a set to avoid duplicate entries
    p = inflect.engine()  # Initialize the inflect engine
    
    # Dictionary mapping singular words to their plural forms
    plural_dict = {
        "mount": "Mountain"
    }
    
    input_words = [word.lower().replace(',', '') for word in input_text.split()]
    
    for word in word_list:
        if word.lower() in input_words:
            matching_words.add(word)
        elif p.plural(word.lower()) in input_words:
            matching_words.add(word)

    singular_words = []
    for word in matching_words:
        if word.lower() in plural_dict:
            singular_words.append(plural_dict[word.lower()])
        elif p.singular_noun(word):
            singular_words.append(p.singular_noun(word))
        else:
            singular_words.append(word)
    
    return list(set(singular_words))

In [141]:
data = [
    "Calangute Beach",
    "Baga Beach",
    "Anjuna Beach",
    "Fort Aguada",
    "Dudhsagar Falls",
    "Basilica of Bom Jesus",
    "Chapora Fort",
    "Se Cathedral",
    "Palolem Beach",
    "Fontainhas (Latin Quarter)",
    "Gopal Sweets",
    'Chickpet Market, Bangalore',
    "Sethi Dhaba",
    "Khyber Restaurant",
    "Punjabi Haveli",
    "Hawkers Chowk",
    "Chawla Chicken",
    "Mehfil Restaurant",
    "Virgin Courtyard",
    "Haveli",
    "Baluchi Restaurant",
     "Sabarmati Ashram",
    "Rani Ki Vav",
    "Sun Temple, Modhera",
    "Champaner-Pavagadh Archaeological Park",
    "Adalaj Stepwell",
    "Dholavira",
    "Sidi Saiyyed Mosque",
    "Jama Masjid, Ahmedabad",
    "Laxmi Vilas Palace",
    "Somnath Temple",
    "Cafe Coffee Day Chandigarh",
    "Nik Baker's Chandigarh",
    "TGI Friday's Chandigarh",
    "Barbeque Nation Chandigarh",
    "Rock Garden Chandigarh",
    "Sukhna Lake Chandigarh",
    "Elante Mall Chandigarh",
    "Sector 17 Market Chandigarh",
    "Sector 22 Market Chandigarh",
    "Chandigarh Golf Club",
    "Terrace Garden Chandigarh",
    "Mohali Cricket Stadium",
    "Sector 26 Club Chandigarh",
    "Paara Nightclub Chandigarh",
    "Sarojini nagar Market"
    "Iskate Chandigarh",
    "Le Corbusier Centre Chandigarh",
    "Capitol Complex Chandigarh",
    "Zakir Hussain Rose Garden Chandigarh",
    "Sindhi Sweets Chandigarh",
    "Gopal Sweets Chandigarh",
    "O2 Spa Chandigarh",
    "VLCC Chandigarh",
    "Taj Chandigarh",
    "Sector 43 Gurudwara Chandigarh",
    "Sector 17 Plaza Chandigarh",
    "Punjab Cricket Association Stadium Mohali",
    "Cactus Garden Chandigarh",
    "Funcity Chandigarh",
    "Sukhna Wildlife Sanctuary Chandigarh"
]

random.shuffle(data)

In [56]:
tags = []
for place in data:
  tag = find_tags(possible_tags,place)
  tags.append(tag)

## Tag Category

In [58]:
base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
api_key = "AIzaSyCU7kaDfhZIM4bbJVujlGlhdXphUPke1yY"

In [63]:
def fetch_place_details(place_name):
      # Set up the parameters for the API request
      global result
      params = {
          'key': api_key,
          'input': place_name,
          'inputtype': 'textquery',
          'fields': 'types'
      }

      # Send the API request
      response = requests.get(base_url, params=params).json()

      # Check if the response contains any results
      if response['status'] == 'ZERO_RESULTS':
          result = ''
      else:
          result = response['candidates'][0]
          # Get the place ID of the first result (assuming it is the correct restaurant)

          details= result['types'][0]
          

          return details

In [122]:
category_mapping = {
    'shopping_mall': 'shopping',
    'furniture_store': 'shopping',
    'clothing_store': 'shopping',
    'physiotherapist': 'self care',
    'jewelry_store': 'shopping',
    'store': 'shopping',
    'supermarket': 'shopping',
    'restaurant': 'food',
    'florist': 'shopping',
    'stadium': 'entertainment',
    'grocery_or_supermarket': 'shopping',
    'tourist_attraction': 'site-seeing',
    'university': 'site-seeing',
    'bakery': 'deserts',
    'food': 'food',
    'museum': 'site-seeing',
    'art_gallery': 'site-seeing',
    'natural_feature': 'site-seeing',
    'zoo': 'site-seeing',
    'hindu_temple': 'site-seeing',
    'casino': 'entertainment',
    'lodging': 'entertainment',
    'mosque': 'site-seeing',
    'park': 'site-seeing',
    'school': 'site-seeing',
    'spa': 'self care',
    'hair_care': 'self care',
    'beauty_salon': 'self care',
    'bar': 'bars and clubs',
    'cafe': 'cafe',
    'night_club': 'bars and clubs',
    'meal_takeaway': 'food',
    'book_store': 'shopping',
    'gym': 'self care',
    'meal_delivery': 'food',
    'movie_theater': 'entertainment',
    'bicycle_store': 'shopping',
    'shoe_store': 'shopping',
    'place_of_worship': 'site-seeing',
    'train_station': 'site-seeing',
    'church': 'site-seeing',
}

In [61]:
def categorize_place_type(place_type):
    if isinstance(place_type, str):  # Check if the value is a string
        if place_type in category_mapping:
            return category_mapping[place_type]
        elif 'food' in place_type or 'cafe' in place_type or 'desert' in place_type or 'bar' in place_type:
            return 'food'
    return 'uncategorized'

In [64]:
tag_2 = []
google_type = []
for place in data:
  google_data = fetch_place_details(place)
  google_type.append(google_data)
  tag_2.append(categorize_place_type(google_data))

In [66]:
reconsider = ['point_of_interest','parking','neighborhood', 'premise','general_contractor',
       'route', 'sublocality_level_1', 'sublocality_level_2',
       'sublocality_level_3','locality','taxi_stand','travel_agency', 'campground',
       'administrative_area_level_3', 'local_government_office','ward','colloquial_area']

In [109]:
tag1_category = {}
for i in range (0,len(df)):
  tag1_category[df['Tags'][i].lower()] = df['Category'][i]

In [115]:
'market' in tag1_category

True

In [116]:
tag1_category['market']

'shopping'

In [142]:
def pipeline(input_text):
    global tags_category
    tags_from_name = []
    word_list = possible_tags
    matching_words = set()
    p = inflect.engine()  # Initialize the inflect engine
    
    # Dictionary mapping singular words to their plural forms
    plural_dict = {
        "mount": "Mountain"
    }
    
    input_words = [word.lower().replace(',', '') for word in input_text.split()]
    
    for word in word_list:
        if word.lower() in input_words:
            matching_words.add(word)
        elif p.plural(word.lower()) in input_words:
            matching_words.add(word)

    place_type = fetch_place_details(place)
    if isinstance(place_type, str):  # Check if the value is a string
        if place_type in reconsider:
          for tag in list(matching_words):
            if tag.lower() in tag1_category:
              tags_category = tag1_category[tag.lower()]
            elif 'food' in tag.lower() or 'cafe' in tag.lower() or 'desert' in tag.lower() or 'bar' in tag.lower():
              tags_category = 'food'
            else:
              tags_category = 'site-seeing'
        
        if place_type in category_mapping:
            tags_category = category_mapping[place_type]
        elif 'food' in place_type or 'cafe' in place_type or 'desert' in place_type or 'bar' in place_type:
            tags_category = 'food'

    singular_words = []
    for word in matching_words:
        if word.lower() in plural_dict:
            singular_words.append(plural_dict[word.lower()])
        elif p.singular_noun(word):
            singular_words.append(p.singular_noun(word))
        else:
            singular_words.append(word)
    tags_from_name =  list(set([word.lower() for word in singular_words]))
    
    if tags_category != None:
      tag_list = tags_from_name + [tags_category]

    return list(set([tag.lower() for tag in tag_list]))

In [144]:
final_tags = []
for place in data:
  final_tags.append(pipeline(place))

In [145]:
final_tags

[['bars and clubs', 'nightclub'],
 ['site-seeing', 'garden'],
 ['site-seeing', 'palace'],
 ['self care'],
 ['food', 'barbeque'],
 ['site-seeing', 'fort'],
 ['site-seeing', 'fort'],
 ['deserts'],
 ['dhaba', 'food'],
 ['food'],
 ['site-seeing', 'beach'],
 ['club', 'bars and clubs'],
 ['bars and clubs'],
 ['site-seeing', 'wildlife', 'sanctuary'],
 ['site-seeing'],
 ['site-seeing', 'cathedral'],
 ['site-seeing', 'gurudwara'],
 ['coffee', 'cafe'],
 ['shopping', 'market'],
 ['shopping', 'mall'],
 ['self care', 'spa'],
 ['site-seeing', 'basilica'],
 ['food', 'restaurant'],
 ['site-seeing', 'temple'],
 ['site-seeing', 'garden'],
 ['shopping', 'plaza'],
 ['sweet', 'deserts'],
 ['site-seeing'],
 ['food'],
 ['food'],
 ['food'],
 ['site-seeing'],
 ['food', 'chicken'],
 ['site-seeing', 'garden'],
 ['site-seeing', 'stepwell'],
 ['club', 'entertainment'],
 ['site-seeing', 'mosque'],
 ['stadium', 'entertainment'],
 ['entertainment'],
 ['entertainment'],
 ['food', 'restaurant'],
 ['site-seeing', 'park'],
 ['site-seeing', 'ashram'],
 ['site-seeing', 'market'],
 ['site-seeing', 'lake'],
 ['site-seeing', 'beach'],
 ['site-seeing', 'vav'],
 ['stadium', 'entertainment'],
 ['site-seeing', 'fall'],
 ['shopping', 'market'],
 ['site-seeing', 'garden'],
 ['food', 'restaurant'],
 ['site-seeing', 'masjid'],
 ['sweet', 'shopping'],
 ['site-seeing', 'beach'],
 ['site-seeing', 'beach'],
 ['food', 'punjabi'],
 ['sweet', 'sindhi', 'deserts'],
 ['site-seeing', 'temple'],
 ['food']]

In [147]:
test = pd.DataFrame({'place': data, 'Tags': final_tags})

In [148]:
test.to_csv('tagging_test_final.csv')